.main-section {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  margin-bottom: 40px
}

.job-form {
  width: 600px;
  padding-top: 40px;
  padding-bottom: 40px
}
